.linha-tabela{
    background-color: var(--dark-color);
    height: 20px;
}

td, th{
    padding: 10px;
    font-size: 14px;
}

.card-view{
    text-align: center;
    padding: 0;
    border: none;
    height: 70vh;
}
